<!DOCTYPE html>
<html>
<head>
    <title>Real-time updates</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/pure-min.css">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
   	<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
   	<script src="http://code.highcharts.com/highcharts.js"></script>
   	<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/excanvas.min.js"></script>
   	<link href="stylesheets/base.css" rel="stylesheet" type="text/css">
   	<link href="stylesheets/chart-module.css" rel="stylesheet" type="text/css">
   	<script type="text/javascript">	
   		var series=null;
   		$(function () {
    var chart = new Highcharts.Chart({
        /* xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        }, */

        chart: {
            renderTo: 'placeholder'
        },

        plotOptions: {
            series: {
                animation: {
                    duration: 20
                },
                stickyTracking: false
            }
        },
        xAxis: {
            labels: {
                style: {
                    fontSize: '13px'
                }
            },
            min: 0,
            minRange: 12,
        },
        yAxis: {
            title: {
                text: "",
                enabled: false
            },
            labels: {
                style: {
                    fontSize: '13px'
                }
            }
        },
        series: [{
            data: [],
            type: 'line'
        }]
    });
    series = chart.series[0];
	});
   		
   	</script>

 </head>
 <body>
 	<script type="text/javascript">
   		// $(document).ready(function(){
   		// 	startClientServer();
   		// })
   		var host="http://localhost:5000"
    //Socket IO communications
    var socket = io.connect(host);
    socket.on('dataSet', function (data) {
        // console.log(data)
        data=JSON.parse(data)
        // console.log(data.x,data.y)
        series.addPoint({x:data.x,y:data.y});
        
    });
   	</script>
 	<div id="header">
 		<h1>Flotchart example</h1>
 	</div>
 	<div id="content">
 		<div class="demo-container">
 			<div id="placeholder" class="demo-placeholder"></div>
 		</div>
 		
 </body>

